@model buoi5.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Bạn có muốn xóa sản phẩm này ?</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt class="control-label col-md-2">
            <b>Tên Loại</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
